In [36]:
import pandas as pd
pd.set_option('display.max_columns', 90)
pd.set_option('display.max_rows',500)

In [2]:
teams = pd.read_csv('../Data/Created/teams.csv')

In [3]:
teams

    TEAM LEAGUE             CITY          NICKNAME  FIRST  LAST
0    ACY    ECL    Atlantic City  Bacharach Giants   1916  1929
1    AGS    NaN      Augie Galan         All Stars   1944  1944
2    AKR    NaN            Akron             Grays   1933  1933
3    ALS    NaN  American League         All Stars   1926  1935
4    ALT     UA          Altoona    Mountain Citys   1884  1884
..   ...    ...              ...               ...    ...   ...
266  WS9     AA       Washington          Senators   1891  1891
267  WSE    ECL       Washington          Potomacs   1924  1924
268  WSN     NL       Washington          Senators   1892  1899
269  WSU     UA       Washington         Nationals   1884  1884
270  WSW     EW       Washington            Pilots   1932  1932

[271 rows x 6 columns]

In [4]:
team_abb = 'BAL', 'CLE', 'KCA', 'OAK', 'CIN', 'NYN', 'SDN', 'TEX', 'CAL','MIN', 'MON', 'HOU', 'CHN', 'NYA', 'DET', 'ATL', 'PHI', 'SFN','SEA', 'BOS', 'MIL', 'PIT', 'LAN', 'CHA', 'SLN', 'TOR', 'FLO','COL', 'ANA', 'TBA', 'ARI', 'WAS', 'MIA'

In [5]:
teams = teams[teams['TEAM'].isin(team_abb)]
teams['team'] = teams['TEAM']

/var/folders/5t/bq10hvbn0zncjrr_1ppk5kp40000gn/T/ipykernel_17730/726296528.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams['team'] = teams['TEAM']

In [6]:
team_names = {'BOS' : 'Boston Red Sox',
              'MIL' : 'Milwaukee Brewers', 
              'TOR' : 'Toronto Blue Jays', 
              'SEA' : 'Seattle Mariners', 
              'LAN' : 'Los Angeles Dodgers', 
              'SLN' : 'St. Louis Cardinals', 
              'SFN' : 'San Francisco Giants',
              'PIT' : 'Pittsburgh Pirates',
              'ATL' : 'Atlanta Braves',
              'PHI' : 'Philadelphia Phillies',
              'NYA' : 'New York Yankees', 
              'CHA' : 'Chicago White Sox', 
              'DET' : 'Detroit Tigers', 
              'NYN' : 'New York Mets', 
              'SDN' : 'San Diego Padres', 
              'BAL' : 'Baltimore Orioles', 
              'CLE' : 'Cleavland Guardians', 
              'TEX' : 'Texas Rangers',
              'OAK' : 'Oakland Athletics', 
              'CIN' : 'Cincinnati Reds', 
              'MON' : 'Montreal Expos', 
              'MIN' : 'Minnesota Twins', 
              'HOU' : 'Houston Astros', 
              'CHN' : 'Chicago Cubs', 
              'KCA' : 'Kansas City Royals', 
              'CAL' : 'California Angels', 
              'COL' : 'Colorado Rockies',
              'FLO' : 'Florida Marlins', 
              'ANA' : 'Anaheim Angels', 
              'ARI' : 'Arizona Diamondbacks', 
              'TBA' : 'Tampa Bay Rays', 
              'WAS' : 'Washington Nationals', 
              'MIA' : 'Miami Marlins'}

In [7]:
teams

    TEAM LEAGUE           CITY      NICKNAME  FIRST  LAST team
5    ANA     AL        Anaheim        Angels   1997  2023  ANA
6    ARI     NL        Arizona  Diamondbacks   1998  2023  ARI
18   ATL     NL        Atlanta        Braves   1966  2023  ATL
20   BAL     AL      Baltimore       Orioles   1954  2023  BAL
36   BOS     AL         Boston       Red Sox   1901  2023  BOS
54   CAL     AL     California        Angels   1965  1996  CAL
63   CHA     AL        Chicago     White Sox   1901  2023  CHA
66   CHN     NL        Chicago          Cubs   1876  2023  CHN
72   CIN     NL     Cincinnati          Reds   1890  2023  CIN
79   CLE     AL      Cleveland       Indians   1901  2023  CLE
88   COL     NL       Colorado       Rockies   1993  2023  COL
105  DET     AL        Detroit        Tigers   1901  2023  DET
113  FLO     NL        Florida       Marlins   1993  2011  FLO
121  HOU  NL;AL        Houston        Astros   1962  2023  HOU
137  KCA     AL    Kansas City        Royals   1969  2023  KCA
146  LAN     NL    Los Angeles       Dodgers   1958  2023  LAN
153  MIA     NL          Miami       Marlins   2012  2023  MIA
155  MIL  AL;NL      Milwaukee       Brewers   1970  2023  MIL
156  MIN     AL      Minnesota         Twins   1961  2023  MIN
165  MON     NL       Montreal         Expos   1969  2004  MON
184  NYA     AL       New York       Yankees   1903  2023  NYA
186  NYN     NL       New York          Mets   1962  2023  NYN
188  OAK     AL        Oakland     Athletics   1968  2023  OAK
197  PHI     NL   Philadelphia      Phillies   1883  2023  PHI
202  PIT     NL     Pittsburgh       Pirates   1887  2023  PIT
217  SDN     NL      San Diego        Padres   1969  2023  SDN
219  SEA     AL        Seattle      Mariners   1977  2023  SEA
220  SFN     NL  San Francisco        Giants   1958  2023  SFN
231  SLN     NL      St. Louis     Cardinals   1892  2023  SLN
239  TBA     AL      Tampa Bay    Devil Rays   1998  2023  TBA
240  TEX     AL          Texas       Rangers   1972  2023  TEX
245  TOR     AL        Toronto     Blue Jays   1977  2023  TOR
250  WAS     NL     Washington     Nationals   2005  2023  WAS

In [8]:
teams['team'] = teams['TEAM'].replace(team_names)

/var/folders/5t/bq10hvbn0zncjrr_1ppk5kp40000gn/T/ipykernel_17730/155804279.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams['team'] = teams['TEAM'].replace(team_names)

In [9]:
teams = teams['team'].reset_index()

In [10]:
teams.drop(columns = ['index'], inplace = True)

In [11]:
teams

                     team
0          Anaheim Angels
1    Arizona Diamondbacks
2          Atlanta Braves
3       Baltimore Orioles
4          Boston Red Sox
5       California Angels
6       Chicago White Sox
7            Chicago Cubs
8         Cincinnati Reds
9     Cleavland Guardians
10       Colorado Rockies
11         Detroit Tigers
12        Florida Marlins
13         Houston Astros
14     Kansas City Royals
15    Los Angeles Dodgers
16          Miami Marlins
17      Milwaukee Brewers
18        Minnesota Twins
19         Montreal Expos
20       New York Yankees
21          New York Mets
22      Oakland Athletics
23  Philadelphia Phillies
24     Pittsburgh Pirates
25       San Diego Padres
26       Seattle Mariners
27   San Francisco Giants
28    St. Louis Cardinals
29         Tampa Bay Rays
30          Texas Rangers
31      Toronto Blue Jays
32   Washington Nationals

In [27]:
teams.to_csv('../Data/Created/streamlitTEAMS.csv')

In [35]:
years_list = list(range(1989, 2026))
seasons = years_list

In [32]:
seasons = pd.DataFrame(seasons)

In [33]:
seasons

       0
0   1989
1   1990
2   1991
3   1992
4   1993
5   1994
6   1995
7   1996
8   1997
9   1998
10  1999
11  2000
12  2001
13  2002
14  2003
15  2004
16  2005
17  2006
18  2007
19  2008
20  2009
21  2010
22  2011
23  2012
24  2013
25  2014
26  2015
27  2016
28  2017
29  2018
30  2019
31  2020
32  2021
33  2022
34  2023
35  2024
36  2025

In [34]:
seasons.to_csv('../Data/Created/seasons.csv')